# Dependencies
node_modules/
vendor/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# Build files
dist/
build/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/
*.egg
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/
.Rproj
*.Rproj
*.rds
*.rda
.httr-oauth
packrat/
renv/
.Renviron